<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./plugins/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="./plugins/slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="./fonts/stylesheet.css">
    link(href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet")
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/bootstrap-grid.css">
    <link rel="stylesheet" href="./css/utilities.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    header
        .header
            .header__row
                .container
                    .row
                        .col-3
                            .logo
                                img(src="images/img1_3.png", alt="").logo__img
                        .col-7
                            nav.nav                
                                ul
                                    li.nav__item
                                        .circle
                                            a(href="#aboutUs").About About Us
                                    li.nav__item
                                        .circle
                                            a(href="#projects").projects projects
                                    li.nav__item
                                        .circle
                                            a(href="#news").news news
                                    li.nav__item
                                        .circle
                                           a(href="#contact").contact contact
                        .col-2    
                            .social
                                a(href="#")
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-twitter
                                a(href="#")
                                    i.fab.fa-instagram
            .slideGallery  
                .sd 
                    .container                                     
                        .Slide.Slide-one                         
                            h1.Slide__title Simple & mordern
                            p.Slide__subtitle We make the world's beautiful every day
                .sd
                    .container
                        .Slide.Slide-second
                            h1.Slide__title Simple & mordern
                            p.Slide__subtitle We make the world's beautiful every day
                .sd
                    .container
                        .Slide.Slide-third
                            h1.Slide__title Simple & mordern
                            p.Slide__subtitle We make the world's beautiful every day
                .sd
                    .container
                        .Slide.Slide-fourth
                            h1.Slide__title Simple & mordern
                            p.Slide__subtitle We make the world's beautiful every day
            .scrol
                a(href="#footer")
                    i.fas.fa-angle-down
    section
        #aboutUs.section.section--whatWeDo
            .container 
                .section__line.line--whatWeDo
                h2.section__title.section__title--whatWeDo what we do 
                .row
                    .col-7
                        .section--img
                            img(src="images/img2_1.png", alt="").img__small.img__small--whatWeDo
                            img(src="images/img2_2.png", alt="").img_big.img__big--whatWeDo
                    .col-5
                        .section--meta.meta.meta--whatWeDo                            
                            h4.meta__subtitle.meta__subtitle--whatWeDo One World
                            h2.meta__title.meta__title--whatWeDo Trade Center
                            p.meta__text.meta__text--whatWeDo Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
                                //- #restText They are capable of influencing every aspect of our daily lives, from our physical health to our social behaviors. I’m sure you’ve heard the adage, “As you think, so shall you be.” If we want to improve our lives, we must first improve our thoughts. Harnessing the power of thought in a positive way has the ability to create great change in our lives, including our financial well-being and prosperity. But how? How do we take something as intangible as thoughts, and manifest them into a physical reality? We must first understand that being prosperous is more than having a lot of money. Prosperity is a mindset, a way of interacting in our lives, and a way of thinking. Mastering this train of thought is not easy, but it is simple enough if we keep working on it consistently. Following are some ideas to help you improve your thoughts, and ultimately attract more prosperity into your life: Be grateful for the blessings in your life right now. Take a few minutes each day to express heartfelt gratitude for the good things in your life. Even more powerful, write a few of these blessings down each day. This helps to put your focus in the right direction — on abundance, not lack. Use positive affirmations to begin training yourself to think positively. Use “I am” statements such as “I am worthy of all that is good.” Write the statements down and repeat them nightly before bed. Over time, this will implant these thoughts into your subconscious mind, and you will begin to naturally believe them. Creative visualization can help you achieve prosperity by determining what it is you wish to achieve, and then thoroughly creating that image in your mind. This works in the same way affirmations do. Our subconscious will fill with images of prosperity, and eventually these subconscious “truths” will manifest in the physical. “See” yourself as being prosperous, and you will become so. Encourage yourself with the belief that you can achieve great things. This could also be one of your affirmations, but expand on it. If you know you can earn a certain salary, tell yourself you can earn more. Allow yourself to believe all things are possible, and you will gain the confidence needed to reach higher than you ever imagined you could. If you believe you can do it, you are more likely to take the risks associated with people who are highly successful. Prosperity and success go hand in hand, so take risks and aim higher. Start a savings account. As strange as it sounds, think about this: Like Attracts Like. Even if you can only afford to put a few dollars into your account every month, it will begin to build up and attract more money. Finally, believe you are already wealthy. The creative ability of our thoughts is such that we lend more power and energy to whatever we consistently focus on. Focusing on lack will create more lack. Focusing on wealth and prosperity will create . . . guess what?Remember that this is a process. You likely won’t change your circumstances in one day. But over time, with consistent focus, your thoughts will begin to attract what you want. Once you master this power of thought, there are truly no limits to what you can create!
                            button(type="submit").button.button--whatWeDo more details
                            .address
                                i.fas.fa-map-marker-alt 
    section
        #projects.section.section--CommerceCentre
            .container                 
                .row                    
                    .col-5
                        .section--meta.meta.meta--CommerceCentre                            
                            h4.meta__subtitle.meta__subtitle--CommerceCentre International
                            h2.meta__title.meta__title--CommerceCentre Commerce Centre
                            p.meta__text.meta__text--CommerceCentre Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.
                                //- #restText They are capable of influencing every aspect of our daily lives, from our physical health to our social behaviors. I’m sure you’ve heard the adage, “As you think, so shall you be.” If we want to improve our lives, we must first improve our thoughts. Harnessing the power of thought in a positive way has the ability to create great change in our lives, including our financial well-being and prosperity. But how? How do we take something as intangible as thoughts, and manifest them into a physical reality? We must first understand that being prosperous is more than having a lot of money. Prosperity is a mindset, a way of interacting in our lives, and a way of thinking. Mastering this train of thought is not easy, but it is simple enough if we keep working on it consistently. Following are some ideas to help you improve your thoughts, and ultimately attract more prosperity into your life: Be grateful for the blessings in your life right now. Take a few minutes each day to express heartfelt gratitude for the good things in your life. Even more powerful, write a few of these blessings down each day. This helps to put your focus in the right direction — on abundance, not lack. Use positive affirmations to begin training yourself to think positively. Use “I am” statements such as “I am worthy of all that is good.” Write the statements down and repeat them nightly before bed. Over time, this will implant these thoughts into your subconscious mind, and you will begin to naturally believe them. Creative visualization can help you achieve prosperity by determining what it is you wish to achieve, and then thoroughly creating that image in your mind. This works in the same way affirmations do. Our subconscious will fill with images of prosperity, and eventually these subconscious “truths” will manifest in the physical. “See” yourself as being prosperous, and you will become so. Encourage yourself with the belief that you can achieve great things. This could also be one of your affirmations, but expand on it. If you know you can earn a certain salary, tell yourself you can earn more. Allow yourself to believe all things are possible, and you will gain the confidence needed to reach higher than you ever imagined you could. If you believe you can do it, you are more likely to take the risks associated with people who are highly successful. Prosperity and success go hand in hand, so take risks and aim higher. Start a savings account. As strange as it sounds, think about this: Like Attracts Like. Even if you can only afford to put a few dollars into your account every month, it will begin to build up and attract more money. Finally, believe you are already wealthy. The creative ability of our thoughts is such that we lend more power and energy to whatever we consistently focus on. Focusing on lack will create more lack. Focusing on wealth and prosperity will create . . . guess what?Remember that this is a process. You likely won’t change your circumstances in one day. But over time, with consistent focus, your thoughts will begin to attract what you want. Once you master this power of thought, there are truly no limits to what you can create!
                            button(type="submit").button.button--CommerceCentre more details
                            .address
                                i.fas.fa-map-marker-alt  Hong Kong - 1588 Feet
                    .col-7
                        .section--img
                            img(src="images/img3_2.png", alt="").img_small.img__small--CommerceCentre
                            img(src="images/img3_1.png", alt="").img__big.img__big--CommerceCentre
    section
        #news.section.section--LatestNews
            .container 
                .section__line.line--LatestNews
                h2.section__title.section__title--LatestNews latest news
                .slideNews  
                        
                            .box.box-one
                                img(src="images/img4_1.png", alt="").box__img
                                .box__info
                                    .box__title See The Unmatched Beauty Of The Great.
                                    .box-text
                                        p Free directories: directories are perfect for customers that are... 
                                    .box-user 
                                        .row 
                                            .col-3
                                                img(src="images/img4_1-2.png", alt="").userpic
                                            .col-9
                                                 .user__name Isaac Dunn
                                                 .user__time 09 Feb 2017
                                            
                            .box.box-second
                                img(src="images/img4_2.png", alt="").box__img
                                .box__info
                                    .box__title Effective Advertising Pointers.
                                    .box-text
                                        p Having a home based business is a wonderful asset to your life...
                                    .box-user
                                        .row 
                                            .col-3 
                                                img(src="images/img4_2-2.png", alt="").userpic
                                            .col-9    
                                                .user__name Dominic Freeman
                                                .user__time 24 Apr 2017
                        
                            .box.box-third
                                img(src="images/img4_3.png", alt="").box__img
                                .box__info
                                .box__title Hypnotize Yourself Into The Ghost. 
                                .box-text
                                    p here are many things that are important to catalog design... 
                                .box-user
                                    .row 
                                        .col-3 
                                            img(src="images/img4_3-2.png", alt="").userpic
                                        .col-9
                                            .user__name Alice Ward
                                            .user__time 30 Dec 2017
                        
                            .box.box-one
                                img(src="images/img4_1.png", alt="").box__img
                                .box__info
                                    .box__title See The Unmatched Beauty Of The Great.
                                    .box-text
                                        p Free directories: directories are perfect for customers that are... 
                                    .box-user 
                                        .row 
                                            .col-3
                                                img(src="images/img4_1-2.png", alt="").userpic
                                            .col-9
                                                 .user__name Isaac Dunn
                                                 .user__time 09 Feb 2017
                                            
                            .box.box-second
                                img(src="images/img4_2.png", alt="").box__img
                                .box__info
                                    .box__title Effective Advertising Pointers.
                                    .box-text
                                        p Having a home based business is a wonderful asset to your life...
                                    .box-user
                                        .row 
                                            .col-3 
                                                img(src="images/img4_2-2.png", alt="").userpic
                                            .col-9
                                                .user__name Dominic Freeman
                                                .user__time 24 Apr 2017
    section
        .section.section--gallery
            .container 
                .section__line.line--gallery
                h2.section__title.section__title--gallery gallery                
                    .gallery__img    
                        .row 
                            .col-6
                                img(src="images/img5_1.png", alt="").picture
                            .col-6
                                .row                                  
                                    .col-6                                 
                                        img(src="images/img5_2.png", alt="").pfoto
                                    .col-6
                                        img(src="images/img5_3.png", alt="").pfoto
                                    .col-6
                                        img(src="images/img5_4.png", alt="").pfoto
                                    .col-6
                                        img(src="images/img5_5.png", alt="").pfoto                
                button.button.button--gallery see more
    //- section
    //-     .section.section--map        
    //-             iframe(src="https://www.google.com/maps/embed? pb=!1m18!1m12!1m3!1d15694.368160559174!2d-73.90955329860695!3d40.    68491713743548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.   1!3m3!1m2!1s0x89c25c4659d47839%3A0xf3498a2c520f220c!2sRodse+Wine+and   +Liquors!5e0!3m2!1suk!2sua!4v1558295601918!5m2!1suk!2sua" width="1602" height="1281" frameborder="0" style="border:0"   allowfullscreen)
    #map.map
    section
        #contact.section__small.section--contacts
                .section__line.line--contacts
                h2.section__title.section__title--contacts get in touch
                .row
                    .col-6
                        .info-contact
                            .location
                                i.fas.fa-map-marker-alt
                                |91 Nolan Extensions Suite 670
                            .number
                                i.fas.fa-phone
                                |+001 356-868-2454
                            .mail
                                i.fas.fa-inbox
                                |gahuy93@gmail.com
                            .time
                                i.far.fa-clock
                                |From 07:05AM to 19:30PM
                    .col-6
                        form(action="#" method="get").form
                            input(type="text" placeholder="Name Medina" required).input                            
                            input(type="email" placeholder="Email" required).email
                            .form-btn
                                button(type="submit").submit-btn submit
    footer
        .section--footer#footer
            .section__small.section__small--footer
                .footer__nav
                    .row
                        .col-3 
                            .footer__logo
                                img(src="images/img1_3.png", alt="").logo__img
                        .col-6
                        .col-3
                            .social
                                  a(href="#")
                                      i.fab.fa-facebook-f
                                  a(href="#")
                                      i.fab.fa-twitter
                                  a(href="#")
                                      i.fab.fa-instagram
                .footer__copyright.d-flex
                    .copyright Copyrights &#169; 2017 Monticello
                    .vertical 	&#124;    
                    .made Made with 
                        i.fas.fa-heart
                        |by Ga Huy
   
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./plugins/slick-1.8.1/slick/slick.min.js"></script>
    <script src="./js/script.js"></script>
     script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDXUTMWWK4qZwIsU3AudvJ9UC48L9IdA8&callback=initMap")

</body>
</html>