body {
  background-color: black;
}
h1 {
    color: white;
    text-align: center;
    }
ul { 
        list-style-type: square; /* Маркеры в виде квадрата */
}     
#line1 {
       color: red;
       text-align: center;
}
#line2 {
      color: Orange;
      text-align: center;
}
#line3 {
    color: yellow;
    text-align: center;
}
#line4 {
    color: green;
    text-align: center;
}
#line5 {
    color: lightblue;
    text-align: center;
}
#line6 {
    color: blue;
    text-align: center;
}
#line7 {
       color: Violet;
       text-align: center;
}
